<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        *{
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }
        body{
            padding: 20px;
            background-color: #f1f1f1;

        }
        #mail{
            width: 100%;
        }

        #content-container{
            margin: auto;
            /*display: flex;*/
            /*flex-direction: column;*/
            width: 40%;
            background-color: white;
            padding: 40px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);

        }
        #logo{
            width: fit-content;
            margin: auto
        }

        img{
            width: 300px;
        }
        button{
            padding: 12px;
            border-radius: 5px;
            border: none;
            color: #fafafa;
            background-color: #06c4c6;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            outline: none;
            cursor: pointer;
        }

        @media only screen and (max-device-width: 600px) {
            #content-container{
                width: 100%!important;
            }
        }
    </style>

</head>
<body>
<div id="mail">
    <div id="content-container">
        <div id="logo">
            <img src="https://i.imgur.com/Kqk9NB6.png">
        </div>
        <div id="content">
            <p>Beste <span th:text="${firstname}"></span>  <span th:text="${lastname}"></span></p>
            <p>U ontvang deze mail omdat er een wijziging is geweest in een evenement waar u aan deelneemt op het GathrUp platform.</p>
            <a th:href="${eventurl}"><p>Klik hier om de afspraak te bekijken</p></a>
            <br />
            <p>Met vriendelijke groet,</p>
            <p>Het GathrUp team.</p>
        </div>
    </div>
</div>
</body>
</html>