<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        *{
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }
        body{
            padding: 20px;
            background-color: #f1f1f1;

        }
        #mail{
            width: 100%;
        }

        #content-container{
            width: 40%;
            margin: auto;
            background-color: white;
            padding: 20px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);

        }
        #logo{
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
        }

        img{
            width: 75%;
        }
        button{
            padding: 12px;
            border-radius: 5px;
            border: none;
            color: #fafafa;
            background-color: #06c4c6;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            outline: none;
            cursor: pointer;
        }

        @media only screen and (max-device-width: 600px) {
            #content-container{
                width: 100%!important;
            }
        }
    </style>

</head>
<body>
<div id="mail">
    <div id="content-container">
        <div id="logo">
            <img src="https://i.imgur.com/Kqk9NB6.png">
        </div>
        <div id="content">
            <p>Beste <span th:text="${firstname}">Jordy</span>  <span th:text="${lastname}">van Bergendonk</span>,</p>
            <p>U heeft aangegeven dat u het wachtwoord voor GathrUp vergeten bent en dat u deze opnieuw wilt instellen. Klik hieronder om het wachtwoord opnieuw in te stellen.</p>
            <a th:href="${tokenURL}"><button type="button">Wachtwoord opnieuw instellen</button></a>
            <p>Heeft u niet zelf aagegeven dat u uw wachtwoord wilt wijzigen? Dan kunt u deze e-mail als niet verzonden beschouwen.</p>
        </div>
    </div>
</div>
</body>
</html>